extends layout

block content
  h1 Mongoose Project Management
  ul
    li
      a(href="/user") User
  h2= projectName
  p Created by : #{createdBy}
  
  if contributors !== null
    p Contributors
      ul
        each contributor in contributors
          li #{contributor.name} - #{contributor.email}
  a(href="/task/new/#{projectID}") Add Task

  h2 Tasks
  each task in tasks
    p Task Name : #{task.taskName}
    p Task Description : #{task.taskDesc}
