extends layout

block content
  h1 Mongoose Project Management
  ul
    li
      a(href="/user") User
  h2= projectName
  p Created by : #{createdBy}
  
  if contributors !== null
    p Contributors
      ul
        each contributor in contributors
          li #{contributor.name} - #{contributor.email}
  a(href="/task/new/#{projectID}") Add Task
  
  if tasks.length > 0
    h2 Tasks
    ul
      each task in tasks
        li 
          a(href="/project/#{projectID}/task/edit/#{task._id}", title="#{task.taskDesc}") #{task.taskName}
