extends layout

block content
  h1= title
  h2= error   
  form(id="frmUserProfile", method="post", action="")
    p
      label(for="FullName") Full name
      input(type="text", name="FullName", id="FullName", value="#{name}")
    p
      label(for="Email") Email
      input(type="email", name="Email", id="Email", value="#{email}")
    p
      input(type="submit", value="#{buttonText}")
